@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(function () {
        var iN = new Notify({
            //openurl: 'http://www.bing.com',
            effect: 'flash',
            interval: 500,
            message: '西八',
            //audio: {
            //    file: 'msg.mp4'
            //},
            onshow: function () {
                console.log('on show')
            }
            , notification: {
                title: '西八，有通知！',
                icon: '',
                body: '薩科買地殼啦'
            }
        });
        
        iN.notify({});

        if (iN.isPermission()) {
            console.log("瀏覽器允許通知");
        }
        else {
            console.log("瀏覽器封鎖通知");
        }
    })
</script>

<div class="text-center">
    <h1 class="display-4">Welcome1</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
