@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
    $(function () {
        var iN = new Notify({
        });

        //弹出chrome通知，不传参数为预设值...
        iN.notify({
            openurl: 'http://www.bing.com',
            effect: 'flash',
            interval: 500,
            message: '有消息拉！',
            audio: {
                file: 'msg.mp4'//可以使用数组传多种格式的声音文件
            },
            notification: {
                title: '通知！',
                icon: '',
                body: '您来了一条新消息'
            }
        });
    })
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
